<%= form_with(model: channel, local: true) do |form| %>
  <% if channel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(channel.errors.count, "error") %> prohibited this channel from being saved:</h2>

      <ul>
      <% channel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cid %>
    <%= form.text_field :cid, id: :channel_cid %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :channel_name %>
  </div>

  <div class="field">
    <%= form.label :master %>
    <%= form.text_field :master, id: :channel_master %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
