<p id="notice"><%= notice %></p>

<h1>Channels</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Master</th>
      <th>Active</th>
      <th>Warned At</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @channels.each do |channel| %>
      <tr>
        <td><%= channel.name %></td>
        <td><%= channel.master %></td>
        <td><%= channel.active %></td>
        <td><%= channel.warned_at&.strftime('%m/%d %T') %></td>
        <td><%= link_to 'Show', channel %></td>
        <td>
          <% if channel.active %>
            <%= link_to 'Archive', channel, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% else %>
          <%= link_to 'Unarchive', new_channel_unarchive_path(channel) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Channel', new_channel_path %>
