<p id="notice"><%= notice %></p>

<p>
  <strong>Cid:</strong>
  <%= @channel.cid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @channel.name %>
</p>

<p>
  <strong>Master:</strong>
  <%= @channel.master %>
</p>

<ul>
  <% @messages.each do |message| %>
    <li><%= "#{message.created_at.strftime('%m/%d %T')} #{message.user}: #{message.text}"%></li>
  <% end %>
</ul>

<%= link_to 'Back', channels_path %>
