<p id="notice"><%= notice %></p>

<p>
  <strong>Cid:</strong>
  <%= @channel.cid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @channel.name %>
</p>

<p>
  <strong>Master:</strong>
  <%= @channel.master %>
</p>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
